# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Node
node_modules/
dist/
build/
.DS_Store

# IDE
.idea/
.vscode/

# Project specific
backend/venv/
backend/.env
frontend/dist/
frontend/node_modules/

# Agent
.gemini/
